In [2]:
import pandas as pd
import sqlite3

In [3]:
!pip install ipython-sql

WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x00000007BB5B5A60>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/ipython-sql/
WARNING: Retrying (Retry(total=3, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x00000007BB5B5D60>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/ipython-sql/
WARNING: Retrying (Retry(total=2, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x00000007BB5B5E80>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/ipython-sql/
WARNING: Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x00000007B90A0790>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/ipython-sql/
WARNING: Retrying (Retry(total=0, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x00000007BB5D4D00>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/ipython-sql/
ERROR: Could not find a version that satisfies the requirement ipython-sql (from versions: none)
ERROR: No matching distribution found for ipython-sql

In [5]:
# Создадим базу данных
df = pd.DataFrame({'name': ['Juan', 'Victoria', 'Mary'],
                  'age': [23, 34, 43],
                  'city': ['Miami', 'Buenos Aires', 'Santiago']})
df

       name  age          city
0      Juan   23         Miami
1  Victoria   34  Buenos Aires
2      Mary   43      Santiago

In [14]:
# Подключимся к базе данных и дадим ей имя

cnn = sqlite3.connect('jupyter_sql_tutorial.db')

In [15]:
#  Добавление данных в базу данных используя два аргумента метода
df.to_sql('people', cnn)

ValueError: Table 'people' already exists.